doctype html
html
  head
    title Login
  body
    h1 Login Page
    form
      .username
        | Username
        input(type="text")
      .password
        | Password
        input(type="password")
